<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load cart_template_tags %}
<!-- {% load  staticfiles %} -->
{% load static %}
{% load login_tag %}
{% load i18n %}
{% load l10n %}

  <head>
  

    {% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Freelancing Accounts</title>
    <meta name="description" content="Online Market place for freelancing accounts. Buy varified freelanicing accounts">
    <meta name="keywords" content="freelancingAccounts, accounts,Accountsplace, unlocks, buy freelancing accounts ">

    {% endblock %}

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    <!-- favicon? -->
    <!-- <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon"> -->

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png ' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png ' %}">

    <link rel="manifest" href="{% static 'favicon/site.webmanifest">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%} " rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css'%}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.min.css' %} " rel="stylesheet">
   
    <link
    type="text/css"
    rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
  />
  <link
    type="text/css"
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
  />


  <!-- Load polyfills to support older browsers -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

  <!-- Required scripts -->
  <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  {% block extra-style %}

    <style type="text/css">
      html,
      body,
      header,
      .carousel  {
        height:400px;
      }

      
  
  a.pink-hover:hover,
  a.pink-hover.lighten-2-hover:hover {
  background-color: #f06292 !important; }


      @media (max-width: 740px) {

        html,
        body,
        header,
        .carousel {
          height: 100vh;
        }
      }

      @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .carousel {
          height: 100vh;
        }
      }
      

    </style>

  {% endblock %}
    

{% endblock %}
{% block style %}

{% endblock %}
   
    
</head>


<body>

  <!-- logout form  -->

  <div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign Out </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit"  class = "btn btn-primary">{% trans 'Sign Out' %}</button>
        </form>
        <hr class = "pb-3">

      </div>
      
    </div>
  </div>
</div>
<!-- logout  -->



<!-- modal snipet -->
  <div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign In</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        
        {% login_form_tag request.get_full_path %}
        
      </div>
      
    </div>
  </div>
</div>

  <!-- modal snippet  -->
<section class="">
  {% include 'nav.html' %}
</section>
 
    

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
       
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}

<div id="app-alert"  class=" container-fluid mt-5 pt-1  " style="display: none;" >
  <div id="notification" class="alert alert-primary alert-dismissible fade show mt-5" role="alert" v-cloak v-show="alert" >
        
       <P id=""> [[message]]</P>
      <button type="button" class="close" data-hide="alert" @click='alert = !alert' aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>

<hr class=" d-md-none mt-4">
<div class="mt-4">
    {% block content %}

    {% endblock %}
</div>
  

{% include "footer.html" %}


<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5f176a48a45e787d128be11e/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->



<script  src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script  src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script  src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script  src="{% static 'js/bootstrap.min.js' %}"></script>



  {% block scripts %}


{% endblock %}

<script>
$(document).ready( function(){

setTimeout(function(){
  $("#app-alert").show()
}, 1000);
});


</script>


<script>

    
    
    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-alert',
        data: {
          message: "",
          alert:false
        },
        methods: {
            poll(){

                
                // console.log("hey working")
                axios.get('{% url "dashboard:order_notification" %}')
                .then(response => {
                  // console.log(response.data)
                  $('#notification','.alert').show();
                  data = response.data
                  console.log(data)
                  if (Object.keys(data).length === 0) {
                    console.log("empty")
                  }
                  else if  (data.refund == false) {
                    var audio = new Audio('{% static "when.mp3" %}');

                      this.alert = !this.alert
                      if (data.ordered ==true  && data.released == false) {
                        this.message=data.buyer + "'s order is complete. Check your Orders and Transactions";
                        audio.play();
                        
                        // console.log(data)
                      }

                      else if (data.ordered == false && data.released == false) {
                        this.message = data.buyer + " is in processes of ordering your product";
                        audio.play();
                        console.log("printing toast")
                        
                      }
                      else if (data.ordered ==true && data.released ==true){
                        this.message= data.buyer+ " has released your Money, Check your Balance";
                        audio.play();
                        
                      }
                      else if (data.ordered ==true && data.released ==true && data.refund==true ){
                        this.message= data.buyer + " has cancelled your order";
                        audio.play();
                        
                      }
                     else {
                      this.message = "";
                      this.alert = !this.alert;
                      audio.play();

                     }
                      
                  }
                  else {
                    console.log("cancelled")
                    this.message= data.buyer + " has cancelled the order"
                    this.alert = !this.alert;
                    audio.play();
                    
                    // this.message = data.buyer + " has Cancelled ordering your Product Your Order";
                    // this.alert = !this.alert
                    // console.log(this.message.length)
                    // this.alert = false
                  }

                })
                .catch(e => {
                console.log(e);

                });
              },
            // hide: function() {
            //     $('#notification').hide();
            //   },
        },

        mounted: function () {
                this.poll();

                setInterval(function () {
                  this.poll();
                }.bind(this), 30000); 
              },
      
      });
  
 
</script>

<script>
  // Animations initialization
  new WOW().init();
</script>

</body>

</html>
