<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "base.html"%}
{% load  staticfiles %}

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
   

   
    </head>
  
  <body>
      {% block content %}
    
      <div class = "container my-5 pt-5">
            <form name="myform" id ="myform" >
                <label> hey see this</label>
                <input name="pure"  type="text" value="add some"/>
                  <input name="Submit"  type="submit" value="Update"/>
                </form>
      </div>
      
     
        
       
        {% endblock%}

        <script type="text/javascript">
            $("#myform").submit(function(event) {
            event.preventDefault();
            alert("hello");
            // run a function here
            // function handleIt() {
                        
            //             }

});
           
      
          </script>
  </body>
</html>

