<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "base.html"%}
{% load  staticfiles %}

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{%static "css/bootstrap.min.css"%}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{%static "css/mdb.min.css"%}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{%static "css/style.min.css" %}rel="stylesheet">

    <script  src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script  src="{% static "js/bootstrap.bundle.js" %}"></script>
    <script  src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script  src="{% static "js/bootstrap.min.js" %}"></script>

  </head>
  <body>
        {% block content %}
        <div  class="container">
                <div class="vertical-spacer"></div>
                <section class="bg-white-gray" id="stats">
                    <div class="div-relative margin-top-50">
                        <div class="container">
                            <div class="row bg-white">
                                <div class="col-lg-12">
                                    <br>
            
                                    <h3>Buy or Sell a Freelancing Account Online Hassle-Free</h3>
                                    <div class="vertical-spacer"></div>
                                </div>
                                <div class="col-lg-6">
                                    <form class="data_form form-signin" action="https://escrowkenya.com/view/start_transaction"
                    method="post">
            
                    <div class="form-group-creative">
                        <div class="row no-gutters">
                            <div class="col col-md-3 iam-box">
                                I Am
                            </div>
                            <div class="col col-md-3">
                                <select class="form-control form-control-lg select_box" name="type" required>
                                    <option value="Buying">Buying</option>
                                    <option value="Selling">Selling</option>
                                </select>
                            </div>
                            <div class="col col-md-6">
                                <select class="form-control form-control-lg select_box" name="itemType" required>
                                    <option value="">Choose here</option>
                                    <option value="1">General Goods</option><option value="2">Motor Vehicles</option><option value="3">General Services</option><option value="4">Electronics</option><option value="5">Freelancing Accounts</option>                </select>
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group-creative">
                        <div class="row no-gutters">
                            <div class="col col-md-7">
                                <input class="form-control form-control-lg" type="text" name="itemTitle" required
                                    placeholder="Item. e.g Samsung Galaxy">
                            </div>
                            <div class="col col-md-2">
                                <select class="form-control form-control-lg select_box" name="currency" id="newTransCurrency" required>
                                    <option value="KES">KES</option><option value="USD">USD</option>                </select>
                            </div>
                            <div class="col col-md-3">
                                <input class="form-control form-control-lg" type="number" step="0.01" name="amount" required
                                    id="newTransAmount"
                                    min="200"
                                    onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                                    placeholder="Amount">
                            </div>
                        </div>
                    </div>
            
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="margin-top: 5px; font-weight: normal">Get Started
                            Now
                        </button>
                    
                </form>
                                </div>
            
                                <div class="col-lg-12">
                                    <div class="vertical-spacer"></div>
            
                                    <div class="text-gray-2">
                                        <p>Working online is the "in thing" nowadays and purchasing a writing account would certainly go
                                            a
                                            long
                                            way in multiplying your earnings. But then you can never be sure when closing the sale
                                            online—there
                                            is always the risk that the other person will take off with the money or fail to fully honor
                                            their
                                            side of the deal. Furthermore, you may want to back out of the deal after inspecting the
                                            account
                                            and
                                            realizing that it may not exactly be what you were looking for.
                                        </p>
                                        <div class="vertical-spacer"></div>
            
                                        <p>Our secure platform guarantees both buyer and seller <b>zero risk</b> when closing the sale
                                            online.
                                            Here's how it works:</p>
                                        <ol style="line-height: 40px;">
                                            <li><b>Buyer and seller agree to use</b> <a href="../index.html" target="_blank">Escrow
                                                    Kenya</a>:
                                                Either the buyer or seller can start
                                                the transaction
                                                by
                                                filling out the order form. All you have to do is ensure that all details about the
                                                order are
                                                captured accurately.
                                            </li>
            
                                            <li><b>Buyer deposits funds into escrow:</b> Once the order is confirmed by the acceptance
                                                of the escrow
                                                invitation, the buyer is prompted to deposit funds. Our secure payment system offers
                                                automatic
                                                <a href="https://www.safaricom.co.ke/personal/m-pesa/getting-started/using-m-pesa"
                                                target="_blank">M-PESA</a> payments, in which you just click a "Pay Now" button and
                                                get a prompt on your
                                                phone to
                                                enter
                                                your M-PESA pin. Alternatively, you can use other payment options such as <a
                                                        href="https://ipsl.co.ke/pesalink/" target="_blank">PESALINK</a> or
                                                wire
                                                transfer
                                                to our bank account as advised on the invoice.
                                            </li>
            
                                            <li><b>Escrow Kenya verifies credentials from the seller:</b> To protect sellers from
                                                potential buyer
                                                fraud, we
                                                ask to verify credentials before they are provided to the buyer. This way we are able to
                                                match
                                                what
                                                was verified against what was provided to the buyer in case of a dispute. Where accounts
                                                are
                                                IP-sensitive, we advise sellers on alternative ways of keeping proof of validity of
                                                credentials
                                                without jeopardizing the security of the accounts.
                                            </li>
            
                                            <li><b>Seller delivers the credentials to the buyer:</b> Once we have verified the
                                                credentials, we ask the
                                                seller to submit them to the buyer and mark the order as delivered. The buyer then
                                                proceeds to
                                                secure the account by changing the password and password-recovery options.
                                            </li>
            
                                            <li><b>Buyer accepts the delivery:</b> Once the buyer is satisfied that the account is
                                                completely secure
                                                and
                                                that they have all the information and/or documents needed, they can proceed to accept
                                                the
                                                delivery.
                                            </li>
                                            <li><b>Escrow Kenya releases payment to the seller:</b> Funds are automatically released and
                                                made available
                                                for
                                                withdrawal in the seller’s account as soon as the buyer accepts the delivery. This
                                                brings the
                                                escrow
                                                transaction to an end.
                                            </li>
                                        </ol>
            
                                        <a href="#page-top"
                                        class="btn btn-primary btn-lg js-scroll-trigger font-weight-normal">Get Started Now</a>
            
                                        <div class="vertical-spacer"></div>
            
                                        <b>The benefits are immense</b>
                                        <p>Both buyers and sellers enjoy protection offered by our online escrow service:</p>
                                        <ul style="line-height: 40px;" class="ul-tick">
                                            <li><b>Convenience of closing the sale online:</b> You can complete the sale anywhere, at
                                                any time, within minutes. No need to travel all the way to meet up.
                                            </li>
            
                                            <li><b>Guaranteed peace of mind:</b> You can rest easy knowing that your money is safe if
                                                something goes
                                                wrong
                                                during the sale.
                                            </li>
            
                                            <li><b>Zero risk:</b> Protection works both ways, ensuring that the sale carries on
                                                smoothly. Escrow Kenya
                                                ensures that each party fulfills their obligations to the letter.
                                            </li>
            
                                            <li><b>Cost savings:</b> By completing the sale online, you eliminate the costs of
                                                travelling along with
                                                other
                                                associated costs.
                                            </li>
                                        </ul>
            
                                        <a href="#page-top"
                                        class="btn btn-primary btn-lg js-scroll-trigger font-weight-normal">Get Started Now</a>
            
                                        <div class="vertical-spacer"></div>
            
                                        <b>100% Protection at an affordable cost</b>
                                        <p>Our low fees of 3% of the purchase amount or KES 200, whichever is higher enable you to
                                            transact
                                            confidently without robbing the bank. Furthermore, all escrow fees are capped at KES
                                            15,000.</p>
                                    </div>
            
            
                                    <div class="text-gray-2">
                                        <b>Ready to transact with confidence?</b>
                                        <br><br>
            
                                        <a href="register.html"
                                        class="btn btn-primary btn-lg js-scroll-trigger font-weight-normal">Sign Up</a>
            
                                    </div>
                                    <div class="vertical-spacer"></div>
            
                                    <b>See Also</b>
                                    <br><br>
                                    <a href="motor_vehicle_escrow.html">
                                        Motor Vehicle Escrow
                                    </a>
                                    <br><br>
                                    <a href="electronics_escrow.html">
                                        Electronics Escrow
                                    </a>
                                    <br><br>
                                    <a href="milestone_transactions.html">
                                        Milestone Transactions
                                    </a>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-white" id="contact">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1 bg-primary">
                                <br>
                                <a href="https://facebook.com/escrowkenya" target="_blank">
                                    <img src="../res/frontend/img/facebook.png" alt="fb"
                                        class="img-fluid img-circle centeredBlock footer-social-icon">
                                </a>
                                <br>
                                <a href="https://twitter.com/escrowkenya" target="_blank">
                                    <img src="../res/frontend/img/twitter.png" alt="tw"
                                        class="img-fluid img-circle centeredBlock footer-social-icon">
                                </a>
                                <br>
                                <a href="https://instagram.com/escrowkenya" target="_blank">
                                    <img src="../res/frontend/img/instagram.png" alt="ig"
                                        class="img-fluid img-circle centeredBlock footer-social-icon">
                                </a>
                                <br>
                                <a href="https://www.youtube.com/channel/UCiWE3QwfskoQ5aaABwgZsmA" target="_blank">
                                    <img src="../res/frontend/img/youtube.png" alt="YT"
                                        class="img-fluid img-circle centeredBlock footer-social-icon">
                                </a>
                                <br>
                            </div>
                            <div class="col-lg-11 bg-white text-gray-2">
                                <div class="vertical-spacer"></div>
                                <div class="vertical-spacer"></div>
            
                                <div class="row">
                                    <div class="col-lg-3">
                                        <br><br>
                                        <img src="../res/frontend/img/logo_pesa_clear_80x92.png" alt=""
                                            class="img-fluid hidden-xs pull-left" style="text-align: center"/>
                                        <br>
                                        <h3 class="text-center font-weight-bold text-primary" style="text-align: center">Escrow
                                            Kenya</h3>
                                    </div>
                                    <div class="col-lg-4">
                                        <h4>Headquarters</h4>
                                        <p><strong class="text-uppercase">Blessed House Business Center, Thika Road Opposite Garden City Mall, 1st Floor Suite 56, Nairobi, KENYA</strong></p>
                                        <strong>Copyright &copy; 2019. Escrow Solutions Kenya Limited.
                                            <br>All Rights Reserved</strong>
                                        <br><br>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="vertical-spacer"></div>
                                        <h4>Contact Us</h4>
                                        <br>
                                        <p>
                                            Call:
                                            <a href="javascript:;" id="callOffice" class="text-gray-2">
                                                <strong>(+254) 703 300 000</strong>
                                            </a>
                                            <br>
                                            Email:
                                            <a href="mailto:support@escrowkenya.com" class="text-gray-2">
                                                <strong style="text-transform: lowercase">support(at)escrowkenya(dot)com </strong>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row bg-primary">
                            <div class="col-lg-1">
                                <!--spacer -->
                            </div>
                            <div class="col-lg-3 text-left text-white">
                                <br><br>
                                <span>All Rights Reserved</span>
                                <div class="vertical-spacer"></div>
                            </div>
                            <div class="col-lg-7 text-left text-white">
                                <div class="vertical-spacer"></div>
                                <!-- menu -->
                                <!-- Navigation -->
                                <nav class="navbar navbar-expand-lg navbar-dark footerNav" id="mainNav">
                                    <div class="no-gutters">
                                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                                                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                                                aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-top: -15px;">
                                            <ul class="navbar-nav ml-auto text-center">
                                                <li class="nav-item">
                                                    <a class="nav-link js-scroll-trigger"
                                                    href="how.html">What is
                                                        Escrow?</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link js-scroll-trigger"
                                                    href="faq.html">FAQ's</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link js-scroll-trigger" href="#contact">Contacts</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link js-scroll-trigger"
                                                    href="terms.html">Terms</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link js-scroll-trigger"
                                                    href="privacy.html">Privacy
                                                        Policy</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link js-scroll-trigger"
                                                    href="blog.html">Blog</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </section>
            
                <!--phone verification modal -->
                <div class="modal modal-warning" role="dialog" id="phoneCodeModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="col-lg-1">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="col-lg-11">
                                    <h5 class="modal-title">Please enter your verification code below</h5>
                                </div>
                            </div>
                            <div class="modal-body">
                                <span class="spanSaving"></span>
            
                                <form action="#" method="post" id="phoneVerificationForm">
                                    <div class="form-group has-feedback">
                                        <input type="hidden" value=""
                                            id="vEmailAddress">
                                        <input type="text" class="form-control text-uppercase" name="phoneCode" id="phoneCode"
                                            placeholder="Enter code here"
                                            required>
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="phoneCodeSubmit" class="btn btn-outline">Submit
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            
                <!--order review modal -->
                <div class="modal modal-warning" role="dialog" id="orderReviewModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="col-lg-1">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="col-lg-11">
                                    <h5 class="modal-title" id="orderTitle">Order Review</h5>
                                </div>
                            </div>
                            <div class="modal-body">
                                <span class="spanSaving"></span>
            
                                <span class="text-green text-bold" id="ordDesc"></span>
            
                                <p>Do you want to Approve (Accept invitation and start escrow transaction) <br> <b>or</b> <br> Cancel
                                    (You can
                                    then start another transaction if details in this one are incorrect)?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" id="btnApprove" type="button" class="btn btn-primary">Approve Order
                                </a>
                                <a href="#" id="btnCancel" type="button" class="btn btn-outline">Cancel Order
                                </a>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            
            
                <!--check out phone number modal -->
                <div class="modal modal-warning" role="dialog" id="mpesaPhoneModal">
                    <div class="modal-dialog">
                        <div class="modal-content" style="background: #E5EFF1;">
                            <div class="modal-header">
                                <div class="col-lg-1">
                                    <button type="button" id="mpesaModalClose" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="col-lg-11">
                                    <h5 class="modal-title">Please confirm M-pesa number to use below</h5>
                                </div>
                            </div>
                            <div class="modal-body">
                                <span class="spanSavingMP"></span>
            
                                <div id="mpesaProgress" style="display: none">
                                    <img class="navbar-brand"
                                        src="../res/frontend/img/escrow_loading.gif"
                                        style="height: 80px; width: auto;"
                                        alt="logo">
                                    <small class="text-red">Please wait....</small>
                                </div>
            
                                <form action="#" method="post" id="mpesaPhoneForm">
                                                        <div class="form-group has-feedback">
                                        <small>Format: e.g 254722000000</small>
                                        <input type="text" class="form-control text-uppercase"
                                            value=""
                                            required id="mpesaPhoneNumber">
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="totalMpesaSuccess" style="display: none" class="btn btn-warning pull-left">
                                    Okay
                                </button>
                                <button type="button" id="mpesaPhoneVerify" class="btn btn-primary pull-right">Submit
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            
                <!--dispute escalation modal -->
                <div class="modal modal-warning" role="dialog" id="escalationModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="col-lg-1">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="col-lg-11">
                                    <h5 class="modal-title">Dispute Escalation</h5>
                                </div>
                            </div>
                            <div class="modal-body">
                                <span class="spanSaving"></span>
            
                                <form action="#" method="post" id="disputeEscalationForm">
                                    <div class="form-group has-feedback">
                                        <label class="text-bold">Why was the dispute filed?</label>
                                        <input type="hidden" value=""
                                            id="dispId">
                                        <select class="form-control form-control-lg" id="dispute_reason"
                                                style="border: solid 1px #eeeeee"
                                                required>
                                            <option value="">
                                                Choose a reason here
                                            </option>
                                            <option value="I did not receive the goods/service">
                                                I did not receive the goods/service.
                                            </option>
                                            <option value="Goods/service significantly not as described">
                                                Goods/service significantly not as described
                                            </option>
                                            <option value="Delivery was not made on time">
                                                Delivery was not made on time
                                            </option>
                                            <option value="Other">
                                                Other (Provide detailed explanation)
                                            </option>
                                        </select>
                                    </div>
            
                                    <div class="form-group has-feedback">
                                        <label class="text-bold">Provide explanation or additional information about why you would like
                                            to escalate this
                                            claim.</label>
                                        <textarea class="form-control textarea-no-toolbar" id="dispute_explanation"
                                                placeholder="Type here..."
                                                required></textarea>
            
                                        <input type="submit" name="submit" id="miniEscSubmit" class="no-display" value="Submit">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="escalationSubmit" onclick="" class="btn btn-outline">Escalate Claim
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        {% endblock%}
  </body>
</html>

