{% load cart_template_tags %}
{% load static %}
{% load notifications_tags %} 

 

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class = 'container' >
            <a class="navbar-brand" href="/home/">
              <img src="{% static 'logo.png' %}" height="45px" alt="">
              <!-- <h1>
                <span class="badge badge-pill danger-color">
                  <i style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;">Freelancing Accounts</i>
                </span>
              </h1> -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/home/"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class = "nav-link" href="/sell-account/" >
                    Sell Account
                  </a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help
                  </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="templates/product-page">FAQ's</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">WHAT IS ESCROW?</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/checkout/">CONTACTS</a>
                    </div>
                </li>
              </ul>

        
        
        
            </div>

            
            <ul class="navbar-nav nav-flex-icons mx-right">

              {%  if request.user.is_authenticated  %}

              
              {% notifications_unread as unread_count %}
              <li class="nav-item">
                <a class="nav-link waves-effect">
                  <i class="fas fa-bell white-text">
                    <Sup>
                      <span class="badge success-color badge-pill z-depth-1 mr-1 animated heartBeat infinite">{{unread_count}}</span>
                    </Sup>
                  </i>
                </a>
              </li>

             
                <li class="nav-item">
                  <a class="nav-link waves-effect " href = "{% url "Home:order-summary" %}">
                    <span class="badge red z-depth-1 badge-pill mr-1"> {{ request.user|cart_item_count }}</span>
                    <i class="fas fa-shopping-cart"></i>
                    <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                  </a>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href=" /accounts/logout/"> Logout </a>
                  </li> -->

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle border border-light rounded waves-effect  waves-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-user-check"></i>  {{request.user}}
                    </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="">Account balance : <strong>{{ request.user|account_cash }} USD</strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dashboard/release_payment/">Release payment</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dashboard/transactions/">Orders and Transactions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dashboard/withdraw/">WIthdraw</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dashboard/refund/">Refund money </a>
                        <div class="dropdown-divider"></div>
                      
                        <a class="dropdown-item border border-light rounded waves-effect  waves-light" data-toggle="modal" data-target="#logout">
                          <i class="fas fa-sign-out-alt"></i>
                          Logout
                        </a>

                      </div>


                  </li>
                {% else %}
                  <li class="nav-item active" > <a class="nav-link" href="#">|</a> </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/accounts/signup/"> Register </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " data-toggle="modal" data-target="#sign_in"> 
                      <i class="fas fa-sign-in-alt"></i> Login </a>
                  </li>
                  {% endif %}
      
                </ul>
          </div>
        </nav>

        <script  src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script  src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script  src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script  src="{% static 'js/bootstrap.min.js' %}"></script>