<!DOCTYPE html>
<html lang="en">
{% extends "base.html"%}
{% load staticfiles %} 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Freelance Accounts</title>

</head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%} " rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'css/mdb.min.css'%}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'css/style.min.css' %} " rel="stylesheet">

<body>
    
 {% block content %}



  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">
         
          <!-- card for iamge  -->
          <div class="card card-cascade wider">
              
              <!--Card image-->
              <div class="view view-cascade overlay">
                  <img  class="card-img-top" src="{{ object.diplay_pic.url }}" alt="picture not available">
                  
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">

                  
                  <h5 class="card-header-subtitle mb-0"> {{ item.get_category_display }}</h5>
                  <span class="badge badge-pill  {{ item.get_label_display }}-color">{{item.Level}}</span>
                  
                </a>
                
                <!-- row  for orders and reviews -->
                <h4 class="font-weight-bold yellow-text mt-2 mb-2">
                   Profile :{{object.profile}}
                  </h4> 
                <div class = "row  wOW fadeIn">
                  <div class = " col-4 text-center  ">
                    <h5 class = "green-text"> {{item.finished_orders}}</h5>
                    <p> finished orders<p>
                  </div>
                  
                  
                      <div class = "col-4 text-center  ">
                        <h5 class = "green-text"> {{ item.rating}}%</h5>
                        <p> Ratings  <p>
                      </div>

                      <div class = " col-4 text-center ">
                      <h5 class = "green-text"> {{item.Reviews }}</h5>
                        <h6>  Reviews </h6>
                      </div>
                </div>

                <hr class = mb-5>
                {% if request.user == object.created_by %}

                <h5><i class="fas fa-link"></i> Reffer people to your product via this Link </h5> 
               

                
                    
                   <input type="text" value="{{ request.build_absolute_uri }}" id="teks">
                    

                    <button class = "btn btn-primary" onclick="myFunction()"> Copy </button>

                {% else %}
                <h5 class = "grey-text pb-2"> <i class="fas fa-upload"></i> Posted {{object.get_days}} ago.</h5>

               
               {% endif %}
                
                    
                  
                </strong>

              </h5>
               
              </div>
              <!--Card content-->

            </div>
           <!-- card for image  -->

          

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge {{ object.get_label_display }}-color mr-1">{{ object.get_category_display }}</span>
              </a>
              <h3> <strong> {{object.title}} </strong></h3>
            </div>

            <p class="lead">

              {% if object.discountprice %}
              <span class="mr-1">
                <del>$ {{ object.price }}/=</del>
              </span>
              <span>$ {{ object.get_discount_price }} /=</span>
              {% else %}
              <span>$ {{ object.price }} /=</span>

              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>

            <!-- <form class="d-flex justify-content-left">
              Default input -->
              <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> --> 

            <a  href = " {{  object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p" >Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            
              <a  href = " {{  object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p" >Remove From cart
            
                </a>
            
            {% if request.user == object.created_by %}

            <a  href = " {% url 'Home:edit_account' pk=object.id %}" class="btn btn-danger btn-md my-0 p" >Edit
            
              </a>

              
              {% endif %}

              <hr class="mt-5">
              <i class="fas fa-phone-square-alt"></i> <h2 class=""> contacts</h2>
              <h5 class=" mr-auto ml-auto dark-grey-text">
                contact the owner: {{object.contact}}
              </h5>
          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Related Accounts to Check </h4>

          <p>Like what you see? If no,t don't give up. We still have more in store perfectly tailored for you.
            click any of the below products to be directed back to more accounts to select from.
          </p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

      {% if r_items.exist %}
        {% for rtem in r_item %}
        <div class=" col-lg-4 mb-4">

          <!--Card-->
          <div class="card card-cascade ">
            
            <!--Card image-->
            <div class="view  text-white view-cascade gradient-card-header blue-gradient">

                <!-- Title -->
                <a href="{{ rtem.get_absolute_url }}"  class = "pink-hover lighten-2-hover">
                  <h2 class="card-header-title text-white mb-3 mt-2"><strong>{{ rtem.title }}</strong></h2>
                </a>
                <!-- rating -->

                    <span id="rateMe2"  class="empty-stars"></span>
                  
                  
                  <!-- rating.js file -->
                  <script src="{% static 'js/addons/rating.min.js'%}"></script>
            
              </div>
            

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="grey-text">

                
                <h5 class="card-header-subtitle mb-0"> {{ rtem.get_category_display }}</h5>
                <span class="badge badge-pill  {{ rtem.get_label_display }}-color">{{rtem.Level}}</span>
                
              </a>
              <p> Rating :{{ rtem.rating}}% </p>
              <!-- row  for orders and reviews -->
              <h4 class="font-weight-bold blue-text">
                  <strong>  Ksh:
                    {% if rtem.discountprice %}
                      {{ rtem.get_discount_price }}
                    {% else %}
                      {{ rtem.price}}
                    {% endif %}

                /= </strong>
                </h4> 
              <div class = "row  wOW fadeIn">
                <div class = "col-6 col-lg-6 col-md-6 text-center mr-auto ml-auto ">
                  <h5 class = "green-text"> {{rtem.finished_orders}}</h5>
                  <p> finished orders<p>
                </div>
                
                    <div class = "col-6 col-md-6 text-center ">
                    <h5 class = "green-text"> {{rtem.Reviews }}</h5>
                      <h6> Reviews</h6>
                    </div>
              </div>

              <a href="{{ rtem.get_absolute_url }}" class="btn btn-primary"> Buy Account </a>
              
                  
                
              </strong>

            </h5>
              <div>
              
            </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div>
        {% endfor %}
      {% else %}
        {% for nrtem in nr_item %}
        <div class=" col-lg-4 mb-4">

          <!--Card-->
          <div class="card card-cascade ">
            
            <!--Card image-->
            <div class="view  text-white view-cascade gradient-card-header blue-gradient">

                <!-- Title -->
                <a href="{{ nrtem.get_absolute_url }}"  class = "pink-hover lighten-2-hover">
                  <h2 class="card-header-title text-white mb-3 mt-2"><strong>{{ nrtem.title }}</strong></h2>
                </a>
                <!-- rating -->

                    <span id="rateMe2"  class="empty-stars"></span>
                  
                  
                  <!-- rating.js file -->
                  <script src="{% static 'js/addons/rating.min.js'%}"></script>
            
              </div>
            

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="grey-text">

                
                <h5 class="card-header-subtitle mb-0"> {{ nrtem.get_category_display }}</h5>
                <span class="badge badge-pill  {{ nrtem.get_label_display }}-color">{{ nrtem.Level}}</span>
                
              </a>
              <p> Rating :{{ nrtem.rating}}% </p>
              <!-- row  for orders and reviews -->
              <h4 class="font-weight-bold blue-text">
                  <strong>  Ksh:
                    {% if nrtem.discountprice %}
                      {{ nrtem.get_discount_price }}
                    {% else %}
                      {{ nrtem.price}}
                    {% endif %}

                /= </strong>
                </h4> 
              <div class = "row  wOW fadeIn">
                <div class = "col-6 col-lg-6 col-md-6 text-center mr-auto ml-auto ">
                  <h5 class = "green-text"> {{ nrtem.finished_orders}}</h5>
                  <p> finished orders<p>
                </div>
                
                    <div class = "col-6 col-md-6 text-center ">
                    <h5 class = "green-text"> {{ nrtem.Reviews }}</h5>
                      <h6> Reviews</h6>
                    </div>
              </div>

              <a href="{{ nrtem.get_absolute_url }}" class="btn btn-primary"> Buy Account </a>
              
                  
                
              </strong>

            </h5>
              <div>
              
            </div>

            </div>
            <!--Card content-->

          </div>
          <!--Card-->

        </div> 
        {% endfor %}

      {% endif %}
        
      </div>
      <!--Grid row-->

      
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  
  <!--/.Footer-->


  <!-- SCRIPTS -->
  <!-- JQuery -->
  {% endblock %}

  {% block scripts %}
  <script>
      function myFunction() {
        var copyText = document.getElementById("teks");
        copyText.select();
        copyText.setSelectionRange(0, 99999)
        document.execCommand("copy");
        alert("Copied the link: " + copyText.value);
      }
 </script>

 

  
  {% endblock %}
</body>

</html>
