{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% load cripsy_form_tags %}

{% block content %}


<section class=" mb-4 mt-4 ">
      
    <!--Grid row-->
    <div class="row wow mx-auto fadeIn">
      <div class =" card col-lg-6 offset-lg-3 ">
            <h1 class="card-title text-center">{% trans "Set Password" %}</h1>

            <div class="card-body">
                  
                  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}" />
                  </form>
              
                 
                </div>
      <hr class = "pb-3">

    </div>
  </div>
</section>

{% endblock %}