{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    


<section class=" mb-4 mt-4 pt-5">

    <!--Grid row-->
    <div class="row wow  mx-auto  fadeIn">
      <div class =" card col-lg-6 offset-lg-3  ">

        <div class="card-header">
            <h1 class="card-title text-center">{% trans "Password Reset" %}</h1>
        </div>
        

        <div class="card-body">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            
        </div>
    
       
      </div>
    </div>
  </section>

  {% endblock %}