{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <section class=" mb-4 mt-4 pt-5">

        <!--Grid row-->
        <div class="row wow  mx-auto  fadeIn">
        <div class =" card col-lg-6 offset-lg-3  ">

            <div class="card-header">
                <h1 class="card-title text-center">{% trans "Change Password" %}</h1>
            </div>

            <div class="card-body">
    
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        
        
        </div>
        </div>
    </section>
    

  {% endblock %}